.small-image {
    width: 200px;
    height: 100px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1, h2 {
    color: #333;
}
p {
    margin-bottom: 20px;
}
ul {
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}